

/* INICIO DE INDEX

.contenedor-index {

    background: url(img/CodeWallpaper.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;


}

.contenedor-index h1 {

    margin-top: 13%;
    font-size: 3rem;
    text-align: left;
    color: white;

}

.contenedor-index h2 {

    margin-top: 2.5%;
    font-size: 2rem;
    text-align: left;
    color: white;

}

.contenedor-index button {

    margin-top: 2%;
    margin-bottom: 15%;
    color: white;

}
/*.index h1{

    margin-top: 5%;
    font-size: 3.5rem;
    text-align: left;
    color: #0b2545;
}

.index h2{
    margin-top: 5%;

    font-size: 2.5rem;
    text-align: left;
    color: #0b2545;
}

.btn-primary{

}
*/





/* INICIO DE SOBRE MI */
.sobremi-titulo h1{

    height: 100%;
    width: 100%;
    padding-top: 7%;
    padding-bottom: 3%;
    font-size: 4rem;
    text-align: center;
    color: #003d5b;

}

.sobremi-titulo {
    background-color: #eef4ed;
    
}


.sobremi-centro {
    padding: 3%;
    margin-left: 10px;
    margin-right: 10px;

}

.sobremi-centro img{

    margin-left: 120;
}

.sobremi-centro h2{
    margin-top: 15%;
    margin-right: 120;
    color: #0b2545; 
}

/*habilidades {

    height: 100%;
    width: 100%;
    padding: 3%;
    font-size: 20%;;
    text-align: center;
    background-color: #eef4ed;
    color: #003d5b;

}*/

.cono-habi {
    background: #7d8597;

}

.cono-habi img{

    width: 100%;
    height: 100%;
    padding: 4%;

}

.cono-habi h3 {
    padding: 2%;
    margin-top: 2%;
    margin-right: 5%;
    margin-right: 5%;
    font-size: 1.3rem;
    text-align: left;
    color: white;

}

.cono-habi p {
    padding: 1%;
    font-size: 0.9rem;
    text-align: left;
    /*margin-right: 5%;
    margin-right: 120;*/
    color: white;

}

.profesional {
    /* background: url(img/profesional-png);*/
    background: white;
    padding: 3%;
}

.profesional p{

    color: #33415c;
    text-align: justify;
    font-size: 1.5rem;
}

/*Fin de Sobre Mi */

/*Inicio de Servicios*/

.servicios-titulo h1{

    height: 100%;
    width: 100%;
    padding-top: 7%;
    padding-bottom: 1%;
    font-size: 5rem;
    text-align: center;
    color: #003d5b;

}

.servicios-titulo {
    background-color: #eef4ed;
    
}

.servicios-carrusel {
    color: #33415c;
}

.carousel-inner {

    align-items: center;
    width: 20%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-right: 1%;

}

/*FIN SERVICIOS*/

/*INICIO DE CONTACTAME*/

.contacto-titulo h1{

    height: 100%;
    width: 100%;
    padding-top: 7%;
    padding-bottom: 1%;
    font-size: 5rem;
    text-align: center;
    color: #33415c;

}

.contacto-titulo {
    background-color: #eef4ed;

}

.container-otrafuente {

    background-color: #7d8597;
}

.container-contacto {
    background-color: #7d8597;
}

.container-otrafuente h3 {

    margin-top: 2%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 3%;
    font-size: 2.5rem;
    text-align: center;
    color: white;

}

.container-otrafuente a{
    color: #001233;
}

.container-contacto {

    padding-left: 23%;
    color: #0b2545;
}

.btn-btn-primary {

    margin-left: 5%;
    margin-right:  5%;
}
/*inicio footer*/

.contenedor-footer {
    background: #343a40!important;
    padding: 1%;
    color: white;
}

.contenedor-footer p{
    font-size: 1rem;
    justify-content: center;
    text-align: center;
}

.contenedor-footer img{
    align-items: center;
    width: 10%;
    height: 50%;

}
/*Fin de Footer*/

