$indexcolorletra: white;
$indextamanoletra:3rem;
$indexcolorfondo:#7d8597;

$textalignderecha: right;
$textalignizquierda: letf;
$textaligncentro: center;
$textalignjustificar:justify;

$sobremifondo: #eef4ed;
$sobremicolortitulo: #003d5b;
$sobremitamanotitulo: 4rem;
$sobremicolorletras: #003d5b;
$sobremicolorfondocono:#7d8597;
$sobremitamanoconoh3: 1.3rem;
$sobremitamanoconopa:0.9rem;
$sobremicolorletraprof:#33415c;
$sobremitamanoprofpa:1.5rem;
