@import "_variables.scss"


//inicio header e index
    .contenedor__index {

        //background: url(img/agregaruntítulo.jpg);
        background-color: $indexcolorfondo;
        //background-position: center;
        //background-repeat: no-repeat;
        //background-size: cover;
        //width: 100%;

            h1{

                margin-top: 13%;
                font-size: $indextamanoletra;
                text-align: $textalignizquierda;
                color: $paraindex;
                transition: all 3s;
                animation-duration: 3s;
                animation-name: aparecer;
            }

            h2 {

                margin-top: 2%;
                font-size: 2rem;
                text-align: $textalignizquierda;
                color: $paraindex;
                transition: all 3s;
                animation-duration: 3s;
                animation-name: aparecer;

            }

            button {

                margin-top: 2%;
                margin-bottom: 15%;
                color: $paraindex;
                transition: all 3s;
                animation-duration: 3s;
                animation-name: aparecer;
            }
    }

    //Inicio footer
    .contenedor__footer {

                background: #343a40!important;
                padding: 1%;
                color: $paraindex;


                p{

                    font-size: 1rem;
                    justify-content: center;
                    text-align: center;
                }

                img{

                align-items: center;
                width: 10%;
                height: 50%;
                
                }

    }

    //Inicio de Sobre mi

    .sobremi-titulo {

        background-color: $sobremifondo;
        transition: all 3s;
        animation-duration: 3s;
        animation-name: aparecer;

            h1 {

                height: 100%;
                width: 100%;
                padding-top: 7%;
                padding-bottom: 3%;
                font-size: $sobremicolortitulo;
                text-align: $textaligncentro;
                color: $sobremicolortitulo;
                animation-duration: 3s;
                animation-name: aparecer;
                
            }
    }

    .sobremi-centro {

            padding: 3%;
            margin-left: 10px;
            margin-right: 10px;
            animation-duration: 3s;
            animation-name: aparecer;
            img {

                margin-left: 120;
                animation-duration: 3s;
                animation-name: aparecer;
            }

            h2 {

                margin-top: 15%;
                margin-right: 120;
                color: $sobremicolorletras; 
                animation-duration: 3s;
                animation-name: aparecer;
            }
    }

    .cono-habi {

            background: $sobremicolorfondocono;
            animation-duration: 3s;
            animation-name: aparecer;

            img {

                width: 100%;
                height: 100%;
                padding: 4%;
            }

            h3 {
                padding: 2%;
                margin-top: 2%;
                margin-right: 5%;
                margin-right: 5%;
                font-size: $sobremitamanocono;
                text-align: $textalignizquierda;
                color: $indexcolorletra;
            
            }

            p {
                padding: 1%;
                font-size: $sobremitamanoconopa;
                text-align: $textalignizquierda;
                color: $indexcolorletra;
            
            }
    }

    .profesional {

        background: $indexcolorletra;
        padding: 3%;
        animation-duration: 3s;
        animation-name: aparecer;

        p{

            color: $sobremicolorletraprof;
            text-align: $textalignjustificar;
            font-size: $sobremitamanoprofpa;
        }


    }

    .contenedor__footer {

        background: #343a40!important;
        padding: 1%;
        color: white;


        p{

            font-size: 1rem;
            justify-content: center;
            text-align: center;
        }

        img{

        align-items: center;
        width: 10%;
        height: 50%;
        
        }

    }

//Inicio Contactame

    .contacto-titulo {
            
        background-color: #eef4ed;
        transition: all 3s;
        animation-duration: 3s;
        animation-name: aparecer;

        h1{

            height: 100%;
            width: 100%;
            padding-top: 7%;
            padding-bottom: 1%;
            font-size: 5rem;
            text-align: center;
            color: #33415c;
            transition: all 3s;
            animation-duration: 3s;
            animation-name: aparecer;
        
        }
        
}

.container-contacto {

    padding-left: 23%;
    color: #0b2545;
    transition: all 3s;
    animation-duration: 3s;
    animation-name: aparecer;
}

.container-otrafuente {

    background-color: #7d8597;
    transition: all 3s;
    animation-duration: 3s;
    animation-name: aparecer;
    

        h3 {

            margin-top: 2%;
            margin-right: 15%;
            margin-left: 15%;
            margin-bottom: 3%;
            font-size: 2.5rem;
            text-align: center;
            color: #0b2545;
            transition: all 3s;
            animation-duration: 3s;
            animation-name: aparecer;
        
        }
        
        a{
            color: #06255f;
            transition: all 3s;
            animation-duration: 3s;
            animation-name: aparecer;
        }
}

.form-group {

    background-color: #7d8597;
    transition: all 3s;
    animation-duration: 3s;
    animation-name: aparecer;
}
.align-content-center {
    -ms-flex-line-pack: center!important;
    align-content: center!important;
    background-color: #7d8597;
    transition: all 3s;
    animation-duration: 3s;
    animation-name: aparecer;
}

.btn-btn-primary {

    margin-left: 5%;
    margin-right:  5%;
    transition: all 3s;
    animation-duration: 3s;
    animation-name: aparecer;
}

//Inicio de Servicios

.servicios-titulo {

    background-color: #eef4ed;
    animation-duration: 2s;
    animation-name: aparecer;

    h1 {

        height: 100%;
        width: 100%;
        padding-top: 7%;
        padding-bottom: 3%;
        font-size: 4rem;
        text-align: center;
        color: #003d5b;
        animation-duration: 3s;
        animation-name: aparecer;
    }
}

.servicios {

    background-color: #7d8597;
}
.diseno-web{ 

    margin-top: 30px;
    padding-top: 23px;
    margin-left: 97px;
    align-items: center;
    transition: 3s;
    animation-duration: 3s;
    animation-name: aparecer;

    img {

        transition: 3s;
        animation-duration: 3s;
        animation-name: aparecer;

    }

}


.diseno-web img:hover {
        transform: scale(2);

    }  


.info-web {

    h2 {

        margin-top: 20px;
        padding-top: 23px;
        margin-right: 10px;
        text-align: left;
        font-size: 2rem;
        color: white;
        transition: all 3s;
        animation-duration: 3s;
        animation-name: aparecer;
    }

    p {
        margin-top: 15px;
        text-align: left;
        font-size: 1rem;
        margin-right: 10px;
        color: white;
        transition: all 3s;
        animation-duration: 3s;
        animation-name: aparecer;
    }

}    
.info-web:hover {
    
    padding: 10px;
    background-color: #003d5b;
    color: #ffff;

}

//Portfolio

.mis-trabajos {

    background-color: #eef4ed;
    animation-duration: 2s;
    animation-name: aparecer;

    h1 {

        height: 100%;
        width: 100%;
        padding-top: 7%;
        padding-bottom: 3%;
        font-size: 4rem;
        text-align: center;
        color: #003d5b;
        animation-duration: 2s;
        animation-name: aparecer;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". Img-1 Img-2 ." ". Texto Texto ." ". . . ."; 
    height: 450px;
    animation-duration: 2s;
    animation-name: aparecer;
}

.Img-1 { grid-area: Img-1;         animation-duration: 2s;
    animation-name: aparecer;}
.Img-1 a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
    animation-duration: 2s;
    animation-name: aparecer;
}

.Img-2 { grid-area: Img-2;         animation-duration: 2s;
    animation-name: aparecer;}

.Img-2 a{

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
    animation-duration: 2s;
    animation-name: aparecer;
}
.Texto { grid-area: Texto;         animation-duration: 2s;
    animation-name: aparecer;}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


